<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender for Client Logs -->
    <appender name="FILE_CLIENT" class="ch.qos.logback.core.FileAppender">
        <file>Client.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender for Server Logs -->
    <appender name="FILE_SERVER" class="ch.qos.logback.core.FileAppender">
        <file>Server.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

    <root level="TRACE">
        <appender-ref ref="FILE_SERVER" />
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Logger for Client -->
    <logger name="com.remoteFSv2.client.Client" level="TRACE" additivity="false">
        <appender-ref ref="FILE_CLIENT" />
    </logger>

    <!-- Logger for Server -->
    <logger name="com.remoteFSv2.server.Server" level="TRACE" additivity="false">
        <appender-ref ref="FILE_SERVER" />
    </logger>
</configuration>